<!DOCTYPE html>
<html>

<head>

          
<link rel="stylesheet" type="text/css" href="/application.css"> 
</head>

<body>

 <img id="full-screen-background-image" src="http://cloud.lomography.com/957/339/a5/d53e62b90866d00ad74de80df8abffd5868395.jpg"/>

<div id="menu">
<nav>
  	<a id="logo" href="">Logo</a>
  	<div id="expand" class="bg getType ">
	</div>
  <ul class="click_menu">
  	<li><a href="#">Route to 1</a></li>
  	<li><a href="#">Route to 2</a></li>
  	<li><a href="#">Route to 3</a></li>
  	<li><a href="#">Route to 4</a></li>
  	<li><a href="#">Route to 5</a></li>
  </ul>
</nav>

<div class="slide">

<div>

</div>


<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="/javascript/application.js"></script>


</body>
</html>

